/* Basic Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

input,
select,
textarea,
button {
  appearance: none;
  border: none;
}

.header {
  background: #fcd34d;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

/* Modal Styles */

dialog {
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0 0 5px rgb(208, 208, 208);
}

form {
  position: relative;
}

.modal {
  border: none;
}

ul li:last-child {
  display: inline;
  position: absolute;
  top: -2rem;
  right: -1rem;
}

/* Content Styles */

.header__menu {
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
}

.add-button {
  content: ' ';
  display: inline-block;
  background: url('./images/book-plus.svg');
  width: 3rem;
  height: 3rem;
}

.main__library {
  border: 2px solid red;
  padding: 2rem 0;

  flex-wrap: wrap;
}