/* Basic Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

input,
select,
textarea,
button {
  appearance: none;
  border: none;
}

.header {
  background: #fcd34d;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

/* Modal Styles */

dialog {
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0 0 5px rgb(208, 208, 208);
}

form {
  position: relative;
}

.modal {
  border: none;
}

.modal ul li {
  margin: 1.2rem 0;
}

ul li:last-child {
  display: inline;
  position: absolute;
  top: -2rem;
  right: -1rem;
}

.modal input {
  border: 1px solid rgb(190, 190, 190);
}

.modal label {
  display: inline-block;
  width: 9rem;
  text-align: right;
}

.modal .add {
  display: block;
  padding: .5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(181, 181, 181);
  background: #f5f5f5;
  margin: 0 auto;
}

.modal .add:hover {
  cursor: pointer;
  filter: brightness(.9);
}

.modal .add:active {
  filter: brightness(.6);
}

.modal .close {
  background: #ef4444;
  color: white;
  font-weight: 700;
}

.modal .close:hover {
  opacity: .7;
}

.modal input {
  margin-left: .5rem;
  padding: .4rem .3rem;
  border-radius: 5px;
}

.modal input:focus {
  outline: 2px solid #4f46e5;
  box-shadow: 0 0 2px rgb(191, 191, 191);
}


/* Content Styles */

.header__menu {
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
}

.add-button {
  content: ' ';
  display: inline-block;
  background: url('./images/book-plus.svg');
  width: 3rem;
  height: 3rem;
  margin-right: 5rem;
}

.main__library {
  padding: 2rem 0;

  flex-wrap: wrap;
  gap: 1rem;
}

.main__library .card {
  background: #893d11;
  color: white;
  border-radius: 8px;
  min-width: 12vw;
  min-height: 20vh;
  box-shadow: 1px 1px 4px rgb(124, 124, 124);
  padding: .5rem 1rem;
}

.main__library .card .button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}